# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/Pods/
*.xcworkspace
!default.xcworkspace

# Android
android/app/build/
android/.gradle/
android/local.properties
android/*.iml

# macOS
.DS_Store
*.pem

# Testing
coverage/

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~